header {
  width: 100vw;
  height: 157px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 966px;
  height: 115px;

  .logo {
    img {
      width: 120px;
    }
  }
}

.header-fixed-space {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
}

.content-container {
  margin-top: -42px;
  max-width: 966px;
}
